In [2]:
import networkx as nx
import numpy as np
import pandas as pd
import operator
import json
from collections import defaultdict
import matplotlib.pyplot as plt
import colorsys
import queue
#import community as community_louvain
import matplotlib.cm as cm

In [5]:
explore_data2 = pd.read_json("events-participants-as-array.json")

In [6]:
explore_data2.head()

   0     1     2     3     4     5     6    7    8    9    10  11  12  13
0  34  32.0  30.0  26.0   NaN   NaN   NaN  NaN  NaN  NaN  NaN NaN NaN NaN
1  34  32.0  25.0  21.0  17.0  15.0  10.0  9.0  8.0  7.0  6.0 NaN NaN NaN
2  34  32.0  30.0  29.0  24.0   NaN   NaN  NaN  NaN  NaN  NaN NaN NaN NaN
3  26  24.0  21.0  17.0   3.0   2.0   1.0  NaN  NaN  NaN  NaN NaN NaN NaN
4  26  20.0  14.0  11.0   8.0   3.0   1.0  NaN  NaN  NaN  NaN NaN NaN NaN